@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}



/* #up1{
    background-image: url("https://i.pinimg.com/1200x/c2/68/6c/c2686cf87ca210179690bfffd6304064.jpg"); 
  
  
} */

body{
 min-height: 100vh
  
}
.hero{
  min-height: 100vh;
  background-attachment: fixed;
    width: 100%;
    background-size: cover;
    z-index: 1;
    
    position: relative;
    overflow: hidden;
   background-position: center;
   background-repeat: no-repeat;

   
   text-align: center;
    animation: fadeUp 1.2s ease-out;
   
  
   

}

.hero-content{
  position: relative;
  z-index: 1;
}
.hero-bg{
  
  max-width: 100%;
  height: auto;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  position: fixed;
  object-fit: cover;

}

h1{
    color: #f38787;
  
}

h5{
    color: #f6f1f1;
}
.yt{
    border-radius: 20px;
}

h2{
  color: red;
}
#up2{
    
  background-image: url("https://i.pinimg.com/736x/ae/14/60/ae1460c17d62b5f302da20d4eac9286d.jpg");


}
p{
    color: #fcfcfb;
    min-height: min-content;
    font-family: jost;
    font-size: 1.1rem;
    margin: 0 auto;
    padding: 0 1rem ;
    line-height: 1.7;
    text-align: left;
    
    

   
}

#up3{
    background-image: url("https://i.pinimg.com/1200x/4e/de/ff/4edeff1e0217ddedddc5da5b04db964a.jpg");
    
}

video,iframe{
    overflow: hidden;
    border-radius: 20px;
    width: 100%;
    max-width: 900px;
    height: auto;
    aspect-ratio: 16/9;
   
}

video:hover {
  transform: scale(1.01);
}

.yt:hover{
    transform: scale(1.01);
}
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}








